In [5]:
orders = [1200,3400,1800]
orders.append(2500)
print(sum(orders))
print(len(orders))

8900
4

In [6]:
sales = [1200,3500,2100,900]
total_sales=sum(sales)
print("Total sales :",total_sales)

Total sales : 7700

In [12]:
scores = [78,92,85,99,67,88,91]
scores.sort(reverse=True)
print("Top 5 scores :",scores[:5])

Top 5 scores : [99, 92, 91, 88, 85]

In [13]:
# Dynamic order entry

orders=[]

for i in range(3):
    amt = float(input("Enter order amount :"))
    orders.append(amt)
print("Orders :",orders)
print("Revenue :",sum(orders))

Enter order amount : 20000
Enter order amount : 2000
Enter order amount : 200

Orders : [20000.0, 2000.0, 200.0]
Revenue : 22200.0

In [14]:
# High value order filter

orders = [1200,9000,3500,15000,800]
high_orders=[]

for o in orders:
    if o>5000:
        high_orders.append(o)
print("High value orders : ",high_orders)

High value orders :  [9000, 15000]

In [15]:
# List Comprehension

orders = [1200,9000,3500,15000,800]
high_orders = [o for o in orders if o>5000]
print(high_orders)

[9000, 15000]

In [18]:
# Tax applied oredrs
orders = [2000,5000,8000]

final_amounts=[]

for o in orders :
    tax = o*0.18
    final_amounts.append(o+tax)
print(final_amounts)


#----------------------------------

final=[1.18*o for o in orders]
print(final)

[2360.0, 5900.0, 9440.0]
[2360.0, 5900.0, 9440.0]

In [21]:
# Lab Objective

orders = []
gst=[]

while True:
    print('1 accept order')
    print('2 calculate revenue')
    print('3 apply gst')
    print('4 generate report')
    print('5 exit')

    n=int(input('Select an option'))
    match n:
        case 1:
            p=float(input("Enter price :"))
            orders.append(p)
        case 2:
            print("Revenue till now is :",sum(orders))
            
        case 3:
            gst = [1.18*o for o in orders]
            print("after GST :",gst)
                
        case 4:
            print("Generating report till now......")
            file=open('report.txt','w')
            file.write(f"Revenue generated till now excluding gst :{sum(orders)}")
            file.write(f"With gst:{gst}")

        case 5:
            break

1 accept order
2 calculate revenue
3 apply gst
4 generate report
5 exit

Select an option 1
Enter price : 23

1 accept order
2 calculate revenue
3 apply gst
4 generate report
5 exit

Select an option 2

Revenue till now is : 23.0
1 accept order
2 calculate revenue
3 apply gst
4 generate report
5 exit

Select an option 3

after GST : [27.139999999999997]
1 accept order
2 calculate revenue
3 apply gst
4 generate report
5 exit

Select an option 4

Generating report till now......
1 accept order
2 calculate revenue
3 apply gst
4 generate report
5 exit

Select an option 5

In [24]:
# TUPLE

config = ('localhost',3306,'admin')
print("Server :",config[0])
print("Port :",config[1])
print("User :",config[2])

Server : localhost
Port : 3306
User : admin

In [25]:
APP_CONFIG = (
"prod-db-server.company.com", #DATABASE HOST
5432,#DATABASE PORT
"finance_admin", #DB USER
"GST_ENABLED", #FEATURE FLAG
0.18, #GST RATE
"Asia/Kolkata" #TIMEZONE
)

In [26]:
db_host=APP_CONFIG[0]
db_port=APP_CONFIG[1]
db_user=APP_CONFIG[2]
gst_rate=APP_CONFIG[4]

print("connecting to:",db_host)
print("gst rate",gst_rate)

connecting to: prod-db-server.company.com
gst rate 0.18

In [27]:
print("=====APPLICATION BOOTING=====")
db_host,db_port,db_user,feature_flag,gst_rate,timezone = APP_CONFIG

=====APPLICATION BOOTING=====

In [28]:
print("DB Host:",db_host)
print("DB Port:",db_port)
print("DB User:",db_user)
print("Timezone:",timezone)

orders = [2500,4000,1500,9000]
subtotal = sum(orders)

if feature_flag == "GST_ENABLED":
    tax = subtotal*gst_rate
else:
    tax=0

final_amount = subtotal+tax
print("Subtotal : ",subtotal)
print("Tax : ",tax)
print("Final amount : ",final_amount)

print("Application process completed")

DB Host: prod-db-server.company.com
DB Port: 5432
DB User: finance_admin
Timezone: Asia/Kolkata
Subtotal :  17000
Tax :  3060.0
Final amount :  20060.0
Application process completed

In [31]:
# DICTIONARY 
student = {'name':'Rahul','marks':85}
print(student['name'])

Rahul

In [35]:
sales = [('Laptop',2),('Phone',5),('Laptop',3),('Tablet',2)]
sales_summary = {}
for product,qty in sales:
    sales_summary[product] = sales_summary.get(product,0)+qty
print(sales_summary)

{'Laptop': 5, 'Phone': 5, 'Tablet': 2}

In [39]:
# STUDENT RECORD SYSTEM

students = {}

while True:
    print("\n1 add new student")
    print("2 update marks")
    print("3 show grade")
    print("4 display report")
    print("5 exit")

    n = int(input("Select an option: "))

    match n:
        case 1:
            name = input("Enter name of student: ")
            marks = float(input("Enter marks of student: "))

            if marks >= 70:
                grade = 'A'
            elif marks >= 50:
                grade = 'B'
            else:
                grade = 'Fail'

            students[name] = {
                "marks": marks,
                "grade": grade
            }
            print("Student added successfully!")

        case 2:
            name = input("Which student's marks do you want to update? ")

            if name in students:
                marks = float(input("Enter new marks: "))

                if marks >= 70:
                    grade = 'A'
                elif marks >= 50:
                    grade = 'B'
                else:
                    grade = 'Fail'

                students[name]["marks"] = marks
                students[name]["grade"] = grade
                print("Marks updated successfully!")
            else:
                print("Student not found")

        case 3:
            name = input("Which student's grade do you want to see? ")

            if name in students:
                print(f"Grade: {students[name]['grade']}")
            else:
                print("Student not found")

        case 4:
            print("Generating report...")
            with open("report.txt", "w") as file:
                for name, data in students.items():
                    file.write(f"{name} - Marks: {data['marks']} Grade: {data['grade']}\n")
            print("Report saved to report.txt")

        case 5:
            print("Exiting program...")
            break

        case _:
            print("Invalid option")

1 add new student
2 update marks
3 show grade
4 display report
5 exit

Select an option:  1
Enter name of student:  jignesh
Enter marks of student:  78

Student added successfully!

1 add new student
2 update marks
3 show grade
4 display report
5 exit

Select an option:  1
Enter name of student:  botla
Enter marks of student:  33

Student added successfully!

1 add new student
2 update marks
3 show grade
4 display report
5 exit

Select an option:  3
Which student's grade do you want to see?  jignesh

Grade: A

1 add new student
2 update marks
3 show grade
4 display report
5 exit

Select an option:  4

Generating report...
Report saved to report.txt

1 add new student
2 update marks
3 show grade
4 display report
5 exit

Select an option:  5

Exiting program...

In [52]:
# SET
web=[101,102,103,104,101,105]
mobile = [103,106,107,102]
offline = [108,109,101,107]

web_set=set(web)

mobile_set=set(mobile)
offline_set=set(offline)

all_customers = web_set.union(mobile_set,offline_set)

print('All customer ID\'s :',all_customers)
#common customers b/w web and mobile
common_online_users=web_set.intersection(mobile_set)
print("\nCustomers using both website and mobile app :",common_online_users)

#find customers that visited website but not offline store

online_only = web_set.difference(offline_set)

print("\nCustomers not visiting offline store :",online_only)

all_customers.add(110)
all_customers.discard(104)

print("\nFinal clean customer database:",all_customers)
print("\nTotal unique customers :",len(all_customers))

All customer ID's : {101, 102, 103, 104, 105, 106, 107, 108, 109}

Customers using both website and mobile app : {102, 103}

Customers not visiting offline store : {104, 105, 102, 103}

Final clean customer database: {101, 102, 103, 105, 106, 107, 108, 109, 110}

Total unique customers : 9

In [57]:
#E-Commerce Price Analytics Pipeline using List Comprehension

# Raw product prices from database
product_prices = [120, 450, 999, 1500, 80, 2500, 300, 60]
# Step 1: Apply 18% GST tax
taxed_prices = [price * 1.18 for price in product_prices]
print("Prices After Tax:")
print(taxed_prices)
# Step 2: Filter premium products (above 500)
premium_products = [price for price in taxed_prices if price > 500]
print("\nPremium Product Prices:")
print(premium_products)

Prices After Tax:
[141.6, 531.0, 1178.82, 1770.0, 94.39999999999999, 2950.0, 354.0, 70.8]

Premium Product Prices:
[531.0, 1178.82, 1770.0, 2950.0]

In [60]:
#Step 3: Apply festival discount of 10% on premium products
discounted_prices = [price * 0.90 for price in premium_products]
print("\nDiscounted Premium Prices:")
print(discounted_prices)
# Step 4: Round values for billing system
final_prices = [round(price, 2) for price in discounted_prices]
print ("\rebewel Billing Prices:")
print(final_prices)
# Step 5: Generate report-ready format
billing_report = [
f"Product-{i+1} : Rs.{final_prices[i]}"
for i in range(len(final_prices))
]
print("\nBilling Report Output:")
for record in billing_report:
    print(record)

Discounted Premium Prices:
[477.90000000000003, 1060.9379999999999, 1593.0, 2655.0]
ebewel Billing Prices:
[477.9, 1060.94, 1593.0, 2655.0]

Billing Report Output:
Product-1 : Rs.477.9
Product-2 : Rs.1060.94
Product-3 : Rs.1593.0
Product-4 : Rs.2655.0

In [65]:
# Pass by Value Example
def update_number(x):
    x = 50
num = 10
update_number(num)
print(num) 
# Pass by Reference Example
def update_list(lst):
    lst.append(100)
numbers = [1, 2, 3]
update_list(numbers)
print(numbers) # Output: [1, 2, 3, 100]

10
[1, 2, 3, 100]

In [67]:
# Without *args
def add(a,b):
    return a+b
print(add(10,20))

# With *args
def add_num(*args):
    total=0
    for num in args:
        total+=num
    return total
print(add_num(10,11,12))

30
33

In [68]:
def create_profile(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

create_profile(name="Arjun", age=25,city="Bangalore",profession="Engineer")

name: Arjun
age: 25
city: Bangalore
profession: Engineer

In [71]:
with open('report.txt','w') as f:
    f.write("Daily report generated")
print("Saved successfully")

Saved successfully

In [81]:
# Student File Management System
file_name = "report.txt"
#---- Writing Data to File ----
def save_student(name, marks, course):
    try:
        with open(file_name, "w") as file:
            file.write(f"{name}, {marks}, {course}\n")
        print("Student record saved successfully")
    except Exception as e:
        print("Error while saving file:",e)
save_student('jignesh',30,'DL')

Student record saved successfully

In [83]:
def read_students():
    try:
        with open(file_name,"r") as file:
            print("\nStudent Records:")
            for line in file:
                name,marks,course = line.strip().split(",")
                print("Name:",name)
                print("Marks:",marks)
                print("Course:",course)
                print("----------")
    except FileNotFoundError:
        print("File not found. Please add records first.")
    except Exception as e:
        print("Unexpected Error:",e)
read_students()

Student Records:
Name: jignesh
Marks:  30
Course:  DL
----------
Name: botla
Marks:  23
Course:  AI
----------

In [92]:
orders = []
customer_ids = set()
REPORT_FILE = "report.txt"

def add_order(order_id,customer_id,product,price,quantity):
    order = {
        "order_id":order_id,
        "customer_id":customer_id,
        "product":product,
        "price":price,
        "quantity":quantity
    }
    orders.append(order) 
    customer_ids.add(customer_id)

def calculate_bill(price,quantity,tax_rate=0.18,discount_rate=0.10):
    subtotal = price*quantity
    tax = subtotal*tax_rate
    discount = subtotal*discount_rate if subtotal>1000 else 0
    total = subtotal +tax-discount
    return subtotal,tax,discount,total

In [93]:
def process_orders():
    totals = []
    for order in orders:
        subtotal, tax, discount, total = calculate_bill(
        order["price"], order["quantity"]
        )
        totals.append(total)
        print(order["order_id"], total)
    return totals
def save_report(totals):
    with open(REPORT_FILE, "w") as file:
        for i in range(len(orders)):
            file.write(f" {orders[i]['order_id']} : {totals[i]}\n")
        file.write("\nHighest: " + str(max(totals)))
        file.write("\nLowest: " + str(min(totals)))
add_order(101, "C001", "Laptop", 50000, 1)
add_order(102, "COO2", "Mobile", 15000, 2)
add_order(103, "C001", "Headphones", 2000, 1)
totals = process_orders()
save_report(totals)

101 54000.0
102 32400.0
103 2160.0

In [105]:
sales={
}
def add_data(region,salesData):
    sales[region]=salesData


def calc_total_sales(region):
    return sum(sales[region]),sum(sales[region])/len(sales[region])

def add_sales_data(region,newdata):
    sales[region].append(newdata)

def generate_report():
    min1=float('inf')
    max1=float('-inf')
    minr=""
    maxr=""
    avg_final=0
    with open('report.txt','w') as f:
        for k in sales:
            sum1,avg1=calc_total_sales(k)
            min1=min(min1,avg1)
            if avg1 == min1:
                minr=k
        
            max1=max(max1,avg1)
            if avg1 == max1:
                maxr=k
            
            avg_final+=avg1
            f.write(f"{k} total sales : {sum1} average sales : {avg1}")
    f.write("\n--------------PERFORMANCE REPORT FILE--------------")
    
    f.write(f"Region {minr} has minimum average sales of :{min1}")
    f.write(f"Region {maxr} has minimum average sales of :{max1}")
            

    f.close()

add_data("Bangalore",[100,200,300])
add_data("Hyderabad",[100,200,300])

print(calc_total_sales("Bangalore"))
add_sales_data("Bangalore",400)
print(sales)

(600, 200.0)
{'Bangalore': [100, 200, 300, 400], 'Hyderabad': [100, 200, 300]}